<hr>
<b><font color='red'>Ejercicio 01</font></b>

In [19]:
tips = pd.read_csv('../09_Pandas/cuentas.csv')
tips.head()

   cuenta  propina     sex fumador      día    hora  tamaño
0   16.99     1.01   Mujer      No  Domingo  Comida       2
1   10.34     1.66  Hombre      No  Domingo  Comida       3
2   21.01     3.50  Hombre      No  Domingo  Comida       3
3   23.68     3.31  Hombre      No  Domingo  Comida       2
4   24.59     3.61   Mujer      No  Domingo  Comida       4

In [20]:
stat = smf.ols('propina ~ cuenta + sex + fumador + día + tamaño', tips).fit()

In [21]:
stat.summary().tables[1]

<hr>
<b><font color='red'>Ejercicio 03</font></b>

In [27]:
supermk = pd.read_csv('../09_Pandas/super.csv')
supermk.head()

   número de artículos  precio    sexo        día
0                   27   42.15   Mujer     jueves
1                   26   60.26   Mujer     jueves
2                   20   28.12  Hombre  miércoles
3                   24   47.48  Hombre    domingo
4                   17   50.88   Mujer     sábado

In [36]:
stat = smf.ols('precio ~ sexo + día', supermk).fit()